@use '../utilities/mixin' as  set;
@use '../utilities/variable' as style;

 .position{
    background:style.$white_deep;
    .row{
      background:style.$white_color;;
      h6{
         font-size: 16px;
      }
    }
 }