@use '../utilities/mixin' as  set;
@use '../utilities/variable' as style;

.testmonial{
   background:style.$white_deep;
   .container-fluid{
      .swiper{
         .swiper-wrapper{
            .swiper-slide{
               background: style.$white_color;
            }
         }
      }
      .navigation-btn{
         .btn1{
            background-color: style.$orange_color;
            color:style.$white_color;
            padding:1.4rem;
            width: 40px;
            height: 40px;
            &::after{
               font-size: 16px!important;
            };
        }
       }
          
      }
   }
 